.flags {
    display: flex;
    font-size: 1.5rem;
    color: black;
    display: none;
    position: absolute;
    justify-content: center;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #fff;
    text-transform: uppercase;
    padding: 5px;
}
