.game-over {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    &::after {
      content: 'Game Over';
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      z-index: 1;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
}  
@keyframes game-over {
    0% {
        font-size: 0;
    }
    25% {
        font-size: 1rem;
    }
    50% {
        font-size: 2rem;
    }
    75% {
        font-size: 3rem;
    }
    100% {
        font-size: 3.5rem;
    }
}
  
.game-over {
    animation: game-over 0.2s ease-out 1;   
    font-size: 3.5rem;
}

.btn-new-game {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}

@keyframes btn-new-game {
    0% {
        width: 0;
        height: 0;
        font-size: 0;
    }
    25% {
        width: 50px;
        height: 15px;
        font-size: 0.5rem;
    }
    50% {
        width: 100px;
        height: 30px;
        font-size: 1rem;
    }
    75% {
        width: 150px;
        height: 45px;
    }
    100% {
        width: 190px;
        height: 55px;
        font-size: 1.5rem;
    }
}
  
.btn-new-game {
    animation: btn-new-game 0.2s ease-out 1;   
    width: 190px;
    height: 55px;
    font-size: 1.5rem;
}